global
	log 127.0.0.1 local0
	log 127.0.0.1 local1 notice
	chroot /var/lib/haproxy
	defaults
	log global
	retries 3
	maxconn 2000
	contimeout 5000
	clitimeout 50000
	srvtimeout 50000
	stats enable
	stats auth admin:admin
	stats uri /haproxy
	monitor-uri /health
	mode http
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http
frontend http-in
	bind *:80
	# default_backend server
	bind 0.0.0.0:443 transparent
	# default_backend server


{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
acl by_host_{{$value.Env.VIRTUAL_DOMAIN}} hdr(host) -i {{$value.Env.VIRTUAL_DOMAIN}}
use_backend {{$value.Env.VIRTUAL_DOMAIN}} if by_host_{{$value.Env.VIRTUAL_DOMAIN}}

backend {{$value.Env.VIRTUAL_DOMAIN}}
	mode http 
	option httplog 
	option http-server-close
	option forwardfor 
	cookie JSESSIONID prefix" 

{{ range $index, $value := $containers }}

	{{ $addrLen := len $value.Addresses }}
	{{/* If only 1 port exposed, use that */}}
	{{ if eq $addrLen 1 }}
		{{ with $address := index $value.Addresses 0 }}
		   # {{$value.Name}}
		   server {{$value.Name}} {{ $address.IP }}:{{ $address.Port }} cookie A check
		{{ end }}

	{{/* If more than one port exposed, use the one matching VIRTUAL_PORT env var */}}
	{{ else if $value.Env.VIRTUAL_PORT }}
		{{ range $i, $address := $value.Addresses }}
		   {{ if eq $address.Port $value.Env.VIRTUAL_PORT }}
		   # {{$value.Name}}
		   server {{$value.Name}} {{ $address.IP }}:{{ $address.Port }} cookie A check
		   {{ end }}
		{{ end }}

	{{/* Else default to standard web port 80 */}}
	{{ else }}
		{{ range $i, $address := $value.Addresses }}
			{{ if eq $address.Port "80" }}
			# {{$value.Name}}
			server {{$value.Name}} {{ $address.IP }}:{{ $address.Port }} cookie A check
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}


  

{{ end }}
